<html>
    <head>
        <title>UEN Validator</title>
        <link rel='stylesheet' href='./css/semantic.min.css'></script>
    </head>
    <body>
        <div class="ui container"></div>
        <div class="ui raised very padded text container segment">
            <h2 class="ui centered header">UEN Validator</h2>
            <div class="ui one column doubling stackable grid container">
                <div class="column">
                    <form id="searchForm" class="ui form" action="/">
                        <div class="ui divider"></div>
                        <br>
                        <div class="inline field">
                            <input type="text" id="uen" name="uen" placeholder="S98LP1211C">
                            <div class="ui left pointing label" id="uen-validation">Please enter a UEN</div>
                        </div>
                        <br>
                        <button class="ui blue button" id="submit" name="submit">Validate</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src='./js/jquery-3.6.0.min.js'></script>
    <script src='./js/checkuen.js'></script>
</html>